//>>>>> Common Css Start <<<<<//
.marquee-wrapper {
	position: relative;
	overflow: hidden;
	white-space: nowrap;
	height: 107px;
	padding-top: 24px;
	background: $theme-color;
	z-index: 9;

	&.style-1 {
		background-color: transparent;
		line-height: 55px;

		@include breakpoint (max-xxl) {
			margin-bottom: 0px;
			margin: 30px 0;
		}

		@include breakpoint (max-md) {
			margin-bottom: -50px;
			margin: 0px 0px;
		}

		&.text-slider {
			height: auto;
		}
	}

	&.style-2 {
		line-height: 55px;
	}
}

.text-slider {
	font-family: $title-color;
	font-size: 48px;
	font-style: normal;
	font-weight: 400;
	line-height: 57.6px;
	color: $white;


	@include breakpoint (max-md) {
		font-size: 36px;
	}

	img {
		margin-bottom: 10px;
		margin-right: 8px;
		margin-left: 10px;
	}
}

.marquee-inner {
	position: absolute;
	display: inline-flex;
	width: 200%;
}

.marquee-list {
	float: left;
	width: 50%;
}

.marquee-item {
	float: left;
	transition: animation 0.2s ease-out;

	&.style1 {
		.text-style {
			@include transition;
			background-image: linear-gradient($theme-color, $theme-color);
			background-position: 0 95%;
			background-repeat: no-repeat;
			background-size: 0% 2px;
			color: transparent;
			-webkit-text-stroke: 1px #bcb8b1;
			font-family: $title-font;
			font-size: 80px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			text-transform: uppercase;

			&:hover {
				color: $theme-color;
				background-size: 100% 3px;
				opacity: 1;
			}
		}
	}

	&.style-2 {
		.text-slider {
			font-family: $title-color;
			font-size: 48px;
			font-style: normal;
			font-weight: 400;
			line-height: 57.6px;
			color: $white;

			@include breakpoint (max-md) {
				font-size: 36px;
			}
		}

		.text-style {
			@include transition;
			background-image: linear-gradient($theme-color-2, $theme-color-2);
			background-position: 0 95%;
			background-repeat: no-repeat;
			background-size: 0% 2px;

			&:hover {
				color: $theme-color-2;
				background-size: 100% 3px;
				opacity: 0.7;
			}
		}
	}
}

.marquee-inner.to-left {
	animation: marqueeLeft 25s linear infinite;
}

@keyframes marqueeLeft {
	0% {
		left: 0;
	}

	100% {
		left: -100%;
	}
}

.marquee-inner.to-right {
	animation: marqueeRight 25s linear infinite;
}

@keyframes marqueeRight {
	0% {
		right: 0;
	}

	100% {
		right: -100%;
	}
}

.marque-section-2 {
	position: relative;
}

.progress-wrap {
	margin-bottom: 15px;

	.progress-meta {
		display: flex;
		justify-content: space-between;
		margin-bottom: 15px;

		.title {
			color: $title-color;
			font-family: $title-font;
			font-size: 20px;
			font-style: normal;
			font-weight: 700;
			line-height: 130%;
		}

		.percentage {
			color: $theme-color;
			font-family: $title-font;
			font-size: 20px;
			font-style: normal;
			font-weight: 700;
			line-height: 130%;
		}

		@include breakpoint (max-xs) {
			gap: 210px;
		}

		@include breakpoint (max-xxs) {
			gap: 150px;
		}
	}

	.progress-container {
		position: relative;
		max-width: 504px;
		height: 7px;
		background-color: #D9DDFF !important;
		border-radius: 10px;
		overflow: visible;

		.progress-bar {
			height: 7px;
			background-color: $theme-color-2;
			border-radius: 10px;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			white-space: nowrap;
			z-index: 1;
		}

		@include breakpoint(max-sm) {
			width: 85%;
		}

		&.style2 {

			&:before,
			&:after {
				background-color: $theme-color-2;
			}
		}
	}

}

//>>>>> Mouse Cursor Start <<<<<//
.mouse-cursor {
	position: fixed;
	left: 0;
	top: 0;
	pointer-events: none;
	border-radius: 50%;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	visibility: hidden;
}

.cursor-inner {
	width: 6px;
	height: 6px;
	z-index: 10000001;
	background-color: $theme-color-2;
	-webkit-transition: width 0.3s ease-in-out, height 0.3s ease-in-out, margin 0.3s ease-in-out, opacity 0.3s ease-in-out;
	-o-transition: width 0.3s ease-in-out, height 0.3s ease-in-out, margin 0.3s ease-in-out, opacity 0.3s ease-in-out;
	transition: width 0.3s ease-in-out, height 0.3s ease-in-out, margin 0.3s ease-in-out, opacity 0.3s ease-in-out;

	&.cursor-hover {
		margin-left: -35px;
		margin-top: -35px;
		width: 70px;
		height: 70px;
		background-color: $theme-color-2;
		opacity: 0.3;
	}
}

.cursor-outer {
	margin-left: -12px;
	margin-top: -12px;
	width: 30px;
	height: 30px;
	border: 1px solid $theme-color-2;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 10000000;
	opacity: 0.5;
	-webkit-transition: all 0.08s ease-out;
	-o-transition: all 0.08s ease-out;
	transition: all 0.08s ease-out;

	&.cursor-hover {
		opacity: 0;
	}
}

.search-wrap {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999999;
	background-color: rgba(255, 255, 255, 0.9);

	.search-inner {
		position: relative;
		width: 100%;
		height: 100%;
	}

	.search-cell {
		position: absolute;
		top: 50%;
		width: 100%;
		transform: translateY(-50%);
	}

	.search-field-holder {
		width: 50%;
		margin: auto;
		position: relative;
		animation: slideInUp 0.3s;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.search-wrap .search-field-holder {
		width: 70%;
	}
}

@media (max-width: 575px) {
	.search-wrap .search-field-holder {
		width: 80%;
	}
}

.search-wrap .main-search-input {
	width: 100%;
	height: 70px;
	border: 0;
	padding: 0 50px;
	text-transform: capitalize;
	background: transparent;
	font-size: 25px;
	color: $theme-color;
	border-bottom: 2px solid $theme-color;
	text-align: center;
	letter-spacing: 2px;
}

@media (max-width: 575px) {
	.search-wrap .main-search-input {
		height: 50px;
		padding: 0 0;
		line-height: 50px;
		font-size: 18px;
	}
}

.search-wrap input.form-control,
.search-wrap input.form-control:focus {
	background-color: $theme-color;
}

input.main-search-input::placeholder {
	color: $theme-color;
	opacity: 1;
	font-size: 25px;
}

@media (max-width: 575px) {
	input.main-search-input::placeholder {
		font-size: 18px;
	}
}

.search-close {
	position: absolute;
	top: 50px;
	right: 50px;
	font-size: 30px;
	color: $theme-color;
	cursor: pointer;
}









.background-image,
[data-bg-src] {
	@include background-content(no-repeat, cover, center center);
}


.section-padding {
	padding: 120px 0;

	@include breakpoint(max-xl) {
		padding: 100px 0;
	}

	@include breakpoint(max-lg) {
		padding: 80px 0;
	}
}

.section-padding1 {
	padding: 95px 0;

	@include breakpoint(max-xl) {
		padding: 80px 0;
	}

	@include breakpoint(max-lg) {
		padding: 80px 0;
	}

	@include breakpoint(max-sm) {
		padding: 60px 0;
	}
}




.gt-slide-transtion {
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
}
.gt-brand-slide-element {
	width: auto;
	display: inline-block;
}





.nav-pills {
	display: flex;
	justify-content: center;
	gap: 15px;
	margin: 35px 0 60px;
	@include breakpoint (max-xl) {
		margin: 35px 0 30px;
	}
	.nav-link{
		background-color: transparent;
		border: 1px solid rgba(0, 0, 0, 0.20);
		color: $title-color;
		border-radius: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		-o-border-radius: 0;
	}
	.nav-link.active,
	.show>.nav-link {
		color: $white;
		background-color: $title-color;
		border-radius: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-ms-border-radius: 0;
		-o-border-radius: 0;
	}
}

 


@media(min-width: 1400px) {
    .gap-xxl-20 {
        gap: 5rem !important
    }

    .gap-xxl-19 {
        gap: 4.75rem !important
    }

    .gap-xxl-18 {
        gap: 4.5rem !important
    }

    .gap-xxl-17 {
        gap: 4.25rem !important
    }

    .gap-xxl-16 {
        gap: 4rem !important
    }

    .gap-xxl-15 {
        gap: 3.75rem !important
    }

    .gap-xxl-14 {
        gap: 3.5rem !important
    }

    .gap-xxl-13 {
        gap: 3.25rem !important
    }

    .gap-xxl-12 {
        gap: 3rem !important
    }

    .gap-xxl-11 {
        gap: 2.75rem !important
    }

    .gap-xxl-10 {
        gap: 2.5rem !important
    }

    .gap-xxl-9 {
        gap: 2.25rem !important
    }

    .gap-xxl-8 {
        gap: 2rem !important
    }

    .gap-xxl-7 {
        gap: 1.75rem !important
    }

    .gap-xxl-6 {
        gap: 1.5rem !important
    }

    .gap-xxl-5 {
        gap: 1.25rem !important
    }

    .gap-xxl-4 {
        gap: 1rem !important
    }

    .gap-xxl-3 {
        gap: .75rem !important
    }

    .gap-xxl-2 {
        gap: .5rem !important
    }

    .gap-xxl-1 {
        gap: .25rem !important
    }

    .gap-xxl-0 {
        gap: 0 !important
    }
 
}
